
body{
    font-family: 'Epilogue', sans-serif;
}
.navigation{

   display: flex;
   align-items: center;
   padding-top: 16px;
}
.naveleft{
    
    padding-left: 149px;
    display: flex;
    align-items: center;
}
.circole{
    
    position: relative;
    transform: translate(-37px, -11px);
}
.navkeys{
    display: flex;
    color: white;
    margin-left: auto;
}
.navkeys ul{
    list-style: none;
    display: flex;
    align-items: center;
  
    margin-right: auto;
}
.navkeys ul li{
    padding-left: 20px;
    padding-right: 20px;
}
.contact{
    margin-left: auto;
    color: white;
    

}
.contact p{
    border: 1px solid gray;
  
    border-radius: 5px;
    margin-right: 101px;
    padding: 10px 40px;
}
/* mobile menu  */
.mobilemenu{
    color: white;
    display: none;
}
.mobilemenu ul{
    list-style: none;
}
.mobilemenu ul li{
    border: 1px solid gray;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 5px ;
  margin-top: 4px;
}

.blogArti{
  
font-style: normal;
font-weight: 800;
font-size: 72px;
text-align: center;
letter-spacing: -2px;
color: #FFFFFF;}
.articalecontent{
width: 50%;
margin: auto;
font-size: 16px;

text-align: center;

color: rgba(255, 255, 255, 0.64);
padding-bottom: 56px;

}
.menubar{
    color: white;
    font-size: x-large;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 10px;
    display: none;
}

  /* section 1 */
  .sectionOne{
      padding-top: 50px;
      display: flex;
      margin: auto;
      justify-content: center;
      padding-bottom: 10px;
      flex-wrap: wrap;
      

  }
  .leftSection{
      padding: 30px;

  }
  
  .secondSection{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      padding-top: 50px;

  }
  .secondDiv{
      width: 400px;
      padding: 10px;
  }
  .lode{
      text-align: center;

  }
  .lodes{
      padding: 10px 30px;
      background-color: white;
      border-radius: 5px;
      border: none;
      font-weight: 800;
      margin-top: 10px;
  }
  .newslest{
      display: flex;
      align-items: center;
     justify-content: space-between;
     width: 90%;
     margin: auto;
     padding: 20px;
     padding-top: 20px;
     margin-bottom: 20px;
  }
  .email{
      padding: 10px 50px;
      background-color: white;
      font-weight: 700;
      border-radius: 5px;
      border: none;
    
      text-align: start;
  }
  .subscrib{
      padding: 10px 30px;
      background-color: white;
      font-weight: 700;
      border-radius: 5px;
      border: none;
     
  }
  /* third section  */
  .thirdSection{
      display: flex;
    
      margin: auto;
      background: #EF6D58;
      margin-top: 50px;
      width: 90%;
      
  }
  .thirdtext{
      color: white;
      margin: 40px ;
    
   
  }
  .thirdtext h1{
   
      font-size: 56px;
  }
  .thirdtext p{
    font-weight: normal;
    font-size: 16px;
    line-height: 32px; 
    color: rgba(255, 255, 255, 0.64);
  }
  .thirdbutton{
      border: none;
      background-color: white;
      padding: 10px 27px;
      border-radius: 5px;

  }
.thirdimage {
   margin: 20px;
 
}
.fortSection{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 120px;
   
}
.mediaIcone{
    background-color: 
    #EF6D58;
    color: white;
    padding: 10px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    margin-right: 10px;

}
.icone{
    display: flex;
    justify-items: center;
  
  
}

.footerSecond{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
    align-items: center;

}
.secondFootertext{
    margin-left: auto;
}
.secondFootertext span{
    margin: 0px 40px;
}

/* responsive area  */
@media only screen and (max-width: 950px) {
    .navkeys{
        display: none;
    }
    #time{
        display: none;
    }
    .contact{
        display: none;
    }
    .naveleft{
     padding-left: 49px; 
    }
    .blogArti{
     font-weight: 800;
     font-size: 56px;
     line-height: 64px;
     text-align: center;
     letter-spacing: -1px;
     
    
    }
    .articalecontent{
        width: 75%;
    }
    .menubar{
        display: block;
    }
 /* responsive section */
 
 .sectionOne{
     padding-top: 50px;
    
   
     margin: auto;
     justify-content: center;
     padding-bottom: 10px;
     flex-wrap: wrap;
 }
 .leftSection {
     padding: 30px;
     width: 90vw;
 
 
 }
 .leftSection img{
     
     width: 90vw;
 
 
 }
 .secondDiv{
     
     width: 90vw;
 
 }
 .secondDiv img{
    width: 90vw;
 
 }
 .dahs{
     display: none;
 }
 /* button responsive */
 .newslest{
 display: grid;
 grid-template-columns: repeat(1fr);
 }
 .newslest{
     display: flex;
     flex-direction: column;
 }
 .email{
     width: 90%;
    
     margin-bottom: 10px;
 }
 .subscrib{
     width: 90%;
   
     margin-bottom: 10px;  
 }
 /* third section responsive  */
 .thirdSection{
     display: flex;
   flex-direction:column-reverse;
 
   
     
 }
 .thirdimage img{
    padding: 20px;
    width: 70vw;
    
 }
 .thirdtext h1{
    
     font-size: 15px;
 }
 
 
   }


@media only screen and (max-width: 600px) {
  
    /* footer section  */
    .fortSection{
        width: 90%;
       
     display: grid;
     grid-template-columns: auto;
     width: 75%;
     margin: auto;
     text-align: center;
    
       
    }
    #time{
        display: none;
    }
    .service{
        padding: 0px 40px;
    }
    .icone{
        text-align: center;
        padding-top: 10px;
        width: 75%;
        margin: auto;
        justify-content: center;
    }
    .footerSecond{
        width: 90%;
       
     display: grid;
     grid-template-columns: auto;
    
     margin: auto;
     text-align: center;
    
    }
    .secondFootertext span{
        margin: 0px 10px;
    }
    .secondFootertext{
      margin: 0px;
      width: 100%;
      text-align: center;
    }
    }